configuration {
	display-drun: "Applications:";
	display-window: "Windows:";
	drun-display-format: "{icon} {name}";
	font: "JetBrainsMono Nerd Font Medium 10";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "WhiteSur-dark";    # unnecessary line unless you want specific icons.
}

@theme "/usr/share/rofi/themes/solarized_alternate.rasi"


# rofi config -- as always delete comments.
# add bindsym Mod1+space exec rofi -show drun  to the i3config to set Mod + space as trigger for rofi
